In [105]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [106]:
df = pd.read_csv("Biotech_preprocessed_dataset_with_outliers.csv")
df['Time']=pd.to_datetime(df['Time'])
df

,Time,TOD,Hour,Day,Total (W),Phase_A (W),Phase_B (W),Phase_C (W),Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Holiday
0,2024-01-04 15:00:00,15:00:00,15,Thursday,821.0,207.0,467.0,147.0,False,False,False,False,True,False,False,False
1,2024-01-04 16:00:00,16:00:00,16,Thursday,741.0,298.0,329.0,114.0,False,False,False,False,True,False,False,False
2,2024-01-04 17:00:00,17:00:00,17,Thursday,776.0,363.0,278.0,135.0,False,False,False,False,True,False,False,False
3,2024-01-04 18:00:00,18:00:00,18,Thursday,1260.0,659.0,419.0,182.0,False,False,False,False,True,False,False,False
4,2024-01-04 19:00:00,19:00:00,19,Thursday,973.0,381.0,410.0,182.0,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4454,2024-07-08 05:00:00,05:00:00,5,Monday,1040.0,635.0,259.0,146.0,False,True,False,False,False,False,False,False
4455,2024-07-08 06:00:00,06:00:00,6,Monday,1414.0,1023.0,251.0,140.0,False,True,False,False,False,False,False,False
4456,2024-07-08 07:00:00,07:00:00,7,Monday,571.0,225.0,243.0,103.0,False,True,False,False,False,False,False,False
4457,2024-07-08 08:00:00,08:00:00,8,Monday,784.0,411.0,280.0,93.0,False,True,False,False,False,False,False,False
4458,2024-07-08 09:00:00,09:00:00,9,Monday,1824.0,1477.0,256.0,91.0,False,True,False,False,False,False,False,False

In [107]:
# generate a new dataframe containing columns for each hour
df_hours = pd.DataFrame(columns = [str(i) for i in range(24)])

# discard data after last date so that each column has equal number of rows
last_date = pd.to_datetime('2024-07-07 15:00:00')
df = df[df['Time']<last_date]

# copy the values of total power to corresponding hour columns of df_hours
for col in df_hours.columns:
    df_hours[col] = df[df['Hour']==int(col)]['Total (W)'].values

df_hours

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,834.0,694.0,1561.0,990.0,2081.0,818.0,739.0,839.0,614.0,739.0,...,2280.0,821.0,741.0,776.0,1260.0,973.0,929.0,1812.0,715.0,959.0
1,732.0,1226.0,593.0,1148.0,655.0,667.0,826.0,843.0,568.0,631.0,...,611.0,1853.0,607.0,621.0,873.0,1044.0,647.0,759.0,949.0,826.0
2,914.0,672.0,1139.0,916.0,626.0,812.0,573.0,1128.0,448.0,455.0,...,2619.0,1009.0,785.0,1144.0,921.0,849.0,1336.0,969.0,651.0,826.0
3,1006.0,924.0,835.0,1006.0,941.0,732.0,1001.0,607.0,930.0,595.0,...,756.0,2701.0,893.0,651.0,565.0,762.0,520.0,752.0,663.0,1052.0
4,615.0,786.0,821.0,1162.0,834.0,758.0,917.0,618.0,764.0,686.0,...,1195.0,1716.0,535.0,1148.0,705.0,661.0,687.0,956.0,672.0,795.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,2109.0,1468.0,734.0,940.0,1460.0,1427.0,1044.0,971.0,957.0,1314.0,...,3263.0,2474.0,2308.0,1364.0,968.0,973.0,1359.0,956.0,1299.0,1355.0
181,1368.0,1412.0,1123.0,1142.0,1434.0,1120.0,669.0,708.0,852.0,3060.0,...,4931.0,2427.0,1148.0,1604.0,1124.0,1372.0,1611.0,1258.0,843.0,1019.0
182,1582.0,957.0,889.0,1396.0,1278.0,759.0,980.0,911.0,1391.0,1490.0,...,1031.0,4165.0,1393.0,1396.0,1272.0,1282.0,1495.0,1016.0,998.0,1470.0
183,1609.0,1507.0,911.0,1014.0,1647.0,862.0,1179.0,1426.0,1558.0,1133.0,...,891.0,1759.0,1526.0,1283.0,1385.0,1175.0,1090.0,1619.0,1568.0,923.0
184,881.0,867.0,946.0,855.0,912.0,998.0,900.0,816.0,1316.0,786.0,...,1648.0,980.0,1605.0,907.0,770.0,1667.0,1628.0,1013.0,1612.0,1441.0

In [108]:
a = []
for col in df_hours.columns:
    # find mean and standard deviation
    mean = df_hours[col].mean()
    stdv = df_hours[col].std()
    size = 1000
    
     # generate 1000 normally distributed values 
    new_vals = np.random.normal(loc=mean, scale=stdv, size=1000)
    a.append(new_vals)

a = np.array(a)
a = a.T
a.shape

(1000, 24)

In [109]:
# generate a new dataframe of normally distributed values for each hour
hour_cols = [str(x) for x in range(24)]
df_hours_normal = pd.DataFrame(a, columns = hour_cols)
df_hours_normal

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,772.168925,684.922773,1174.845655,1067.642013,808.039503,489.264408,1255.192986,584.521433,621.735197,2075.392852,...,625.665046,2993.747215,335.317644,651.776168,973.395961,1215.743320,666.252379,798.115930,1032.994836,1082.637585
1,1027.860111,1043.377237,839.371162,1030.336909,622.216042,338.223561,718.261173,772.782713,1163.122168,697.288973,...,897.143684,217.576642,401.274567,1320.888920,1044.066984,1087.989482,1121.653035,1147.847622,902.356428,1140.873902
2,853.866358,1081.178751,1161.089836,446.885557,859.851673,1227.625644,1342.501209,782.637126,1075.341096,1363.146237,...,1998.874305,1584.348023,886.399557,766.564796,522.223008,980.372335,1271.220195,1214.698081,921.392612,854.876616
3,874.226673,1187.857758,1088.286050,828.356066,779.288620,1191.357674,892.619749,880.369303,1143.187083,736.919893,...,1059.205416,1556.491661,1450.468947,1005.671616,411.999146,823.184198,727.939952,947.922266,923.203726,885.985642
4,936.383159,669.334074,1145.351807,733.097352,1130.691037,885.031432,1228.250777,666.884308,974.942951,1022.370338,...,677.367991,2527.828337,921.725045,1062.188402,411.980313,1143.416380,940.002018,650.890034,412.652711,1095.155391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,776.914751,647.440191,987.189159,1283.542362,836.800167,1033.707608,1385.872326,812.658619,1666.151435,1100.931495,...,2150.144809,3278.812744,555.985735,726.732968,1181.695428,942.163092,1044.178461,564.278708,600.576329,505.340113
996,1309.564272,1282.137734,951.950960,1249.275090,746.442906,870.600068,908.265508,897.138210,1115.783885,1426.696760,...,2360.148155,-119.842321,1456.639922,1114.666819,790.689609,741.817858,1078.636421,654.818694,1353.870350,116.448243
997,1708.337128,627.793851,717.299211,689.934723,556.829962,927.887917,292.007172,499.660958,593.762246,1004.397703,...,2580.297209,1580.622011,465.583021,439.254528,1065.833295,893.748848,996.344683,911.959746,690.255573,913.740855
998,1098.579843,1100.426642,989.008969,458.194462,-200.243325,827.051701,1006.308668,698.032954,790.357251,1707.999152,...,-762.664200,1281.915601,1098.677705,1511.038043,1239.804451,768.205727,377.573527,577.246025,1374.851205,1066.027175
999,573.497262,740.276730,763.016871,299.063810,1242.169644,800.049219,1034.348728,1208.909766,1728.337291,1135.259579,...,1178.707805,1649.342061,1408.197563,1228.383938,1068.183328,1407.612630,250.497578,881.133916,1296.165365,828.213677

In [110]:
df_hours_final = pd.concat([df_hours, df_hours_normal], ignore_index=True)
df_hours_final = df_hours_final.astype(int)
df_hours_final

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,834,694,1561,990,2081,818,739,839,614,739,...,2280,821,741,776,1260,973,929,1812,715,959
1,732,1226,593,1148,655,667,826,843,568,631,...,611,1853,607,621,873,1044,647,759,949,826
2,914,672,1139,916,626,812,573,1128,448,455,...,2619,1009,785,1144,921,849,1336,969,651,826
3,1006,924,835,1006,941,732,1001,607,930,595,...,756,2701,893,651,565,762,520,752,663,1052
4,615,786,821,1162,834,758,917,618,764,686,...,1195,1716,535,1148,705,661,687,956,672,795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1180,776,647,987,1283,836,1033,1385,812,1666,1100,...,2150,3278,555,726,1181,942,1044,564,600,505
1181,1309,1282,951,1249,746,870,908,897,1115,1426,...,2360,-119,1456,1114,790,741,1078,654,1353,116
1182,1708,627,717,689,556,927,292,499,593,1004,...,2580,1580,465,439,1065,893,996,911,690,913
1183,1098,1100,989,458,-200,827,1006,698,790,1707,...,-762,1281,1098,1511,1239,768,377,577,1374,1066
1184,573,740,763,299,1242,800,1034,1208,1728,1135,...,1178,1649,1408,1228,1068,1407,250,881,1296,828

In [111]:
c = []
for i in range(1185):
    b = df_hours_final.iloc[i]
    b = b.tolist()
    c.extend(b)

df_final = pd.DataFrame({'Power':c})
df_final

       Power
0        834
1        694
2       1561
3        990
4       2081
...      ...
28435   1407
28436    250
28437    881
28438   1296
28439    828

[28440 rows x 1 columns]

In [112]:
df_final.to_csv('normally_generated_unseasoned_data.csv')